/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: #111; 

  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
  }
  .card {
    background-color: #333;
    color: #fff;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
  color: #fff;
  }
  